.coctailDetails {
  padding-left: 1px;
  margin-top: 20px;
  border: 2px solid violet;
  border-radius: 25px;
  box-shadow: 0px 0px 45px palevioletred, 0px 1px 45px palevioletred;
  background-color: darkgray;

.general{
  width: 220px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

  .general div:not(:first-child){
    margin-left: 60px;
  }

  .btnDetContainer{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
  }

  //IMG
  .imgCoctail {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }

  //RATINGS
  .ratesContainer {
    margin-top: 20px;

    .stars {
      margin-top: -10px;
    }

    .avgRateText {
      font-size: small;
      margin-bottom: 10px;
    }
  }

  //INGREDIENTSadmin123
  .ingredientsContainer {
    margin-top: 10px;
    border-top: 10px double yellow;
  }

  .instructionsContainer{
    border-top: 3px solid black;
    border-bottom: 10px double yellow;
  }

  //COMMENTS
  .commentsContainer {
    :not(:first-child) :not(p), .text {
      background-color: lightgray;
    }

    .date {
      font-size: smaller;
      font-family: Corbel;
    }
  }

  //COMMENTS CREATOR
  #addComment{
    display: none;
  }
}
.adminDet {
  box-shadow: 0px 10px 65px gold, 0px 1px 65px gold;
  border: 2px solid gold;
}
